.list__class {
    width: 100%;
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: rem(8);
    justify-content: center;
    justify-items: center;
    max-width: rem(1100);
    margin: 10px;
  }
  
  .card__class {
    background-color: steelblue;
    color: white;
    padding: rem(5);
    font-size: rem(11);
    border: solid 2px white;
    padding: 0.5rem;
    margin: 10px;
    }
    .card__class:hover {
      border: 2px solid rgb(85, 254, 1);
      box-shadow: 9px 2px 48px 7px steelblue;
    }
  

  .img__class {
    height: 120px;
    width: 180px;
    margin: 10px;
    }
  
  .text__card__class {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }